//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";
@import "icons";
@import "swiper";
// If you do not want to load the customized bootstrap version, just use the following line.
// @import "~bootstrap/scss/bootstrap";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.user-cart-container {
    display: flex;
    order: 3;
    
}
.header-cart {
    .dropdown-button {
        display: flex;
        align-items: center;
        padding: 0;
        order: 2;
        border: none;
        background-color: transparent !important;
        cursor: pointer;
    }
}

.slider {
    display: flex;

    img {
        width: 100%
    }
}
#mobileMenu {
    font-size: 27px;
    display: none;
}
.nav-menu {
        .dropdown-menu {
            border: none;
            a {
                display: block;
                padding: 8px 15px;
            }
        }
        .nav-menu__menu-dropdown {
            position: relative;
        }
}
@media(max-width: 828px) {
    .nav-menu {
        width: 100%;
        visibility: hidden;
        height: 0px;
        min-height: 0px;
        transition: min-height 0.3s ease-in-out;
        order: 3;
        ul {
            flex-direction: column !important;
        }
        .navbar-nav .dropdown-menu {
            position: static !important;
        }
    }
    .nav-menu_visible {
        transition: min-height 0.3s ease-in-out;
        min-height: 169px;
        visibility: visible;
    }
    #mobileMenu {
        display: flex;
        margin-left: auto;
    }
    .user-cart-container {
        order: 0
    }
}

// cart
.cart-item {
    display: flex;
    position: relative;
    .delete-button {
        right: 0;
        top: -6px;
        color: red;
    }
}


.quantity-controls {
    display: flex;
    align-items: center;
    .minus-button {
        color: #fff;
        background-color: red;
    }
    .plus-button {
        color: #fff ;
        background-color: green;
    }
    .minus-button, .plus-button {
        width: 36px;
        height: 36px;
    }
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";
